
@font-face{
	font-family: 'Mntserrat';
	source: url('/static/fonts/Montserat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}


@font-face{
	font-family: 'Mntserrat';
	source: url('/static/fonts/Montserat-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}


@font-face{
	font-family: 'Mntserrat';
	source: url('/static/fonts/Montserat-Light.ttf');
	font-weight: lighter;
	font-style: normal;
}

@font-face{
	font-family: 'Mntserrat';
	source: url('/static/fonts/Montserat-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}
